.budda-section {
  background-image: url(../images/content/budda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 568px;
}