.nav__list {
  display: flex;

  &_footer {
    @include tablets {
      flex-wrap: wrap;
      margin: -10px 0;

      .nav__item  {
        @include tablets {
          padding: 10px 0;
        } 
      }
    }
  }
}

.nav__item {
  margin-right: 60px;

  @include laptop {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: orange;
  }
}