.socials {
  display: flex;
  align-items: flex-start;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 25px;
  height: 25px;

  &:hover {
    fill: white;
  }

    &:active {
    fill: orange;
  }
}

.socials__icon_gray {
  width: 25px;
  height: 25px;
  fill: #54565c;


  &:hover {
    fill: white;
  }
}