.triangles {
  margin-top: -90px;
  display: flex;
  position: relative;

  &_budda {
    margin-top: 0;
    margin-bottom: -90px;
    z-index: 2;
  }
}

.triangle__item {
  display: block;
  height: 90px;
  width: 100%;
  fill: white;
}