.about__left
  .user
    .user__avatar
      .avatar
        +image('content/avatar.jpg', "avatar__image")
    .user__text
      .user__table
        .user__col
          .user__cell Возраст
          .user__cell Проживаю
          .user__cell Родился
        .user__col.user__col_right
          .user__cell Брест
          .user__cell 32 года
          .user__cell 13 апреля