.about__right
  .about__welcome 
    .about__welcome-text Привет, меня зовут
    h2.title Евгений Струневский
  .about__desc 
    |Я занимаюсь разработкой современных сайтов и приложений. 
    br
    |Мне нравится делать интересные и современные проекты.
  .about__ps
    |Этот сайт я сделал в рамках обучения в Школе онлайн образования 
    br
    |LoftSchool. Чуть позже я освежу в нём свой контент. 
    br
    |А пока посмотрите, как тут всё классно и красиво!