.budda-section
  .parallax__layer-budda.parallax__layer_sky-budda
    +image("parallax/Sky.png", "parallax__sky-buddha")          
  .parallax__layer-budda.parallax__layer_mountain1-budda
    +image("parallax/Mountain1.png", "parallax__mountain1-buddha")          
  .parallax__layer-budda.parallax__layer_buddha
    +image("parallax/buddha.png", "parallax__buddha-buddha")          
  .parallax__layer-budda.parallax__layer_cloud-budda
    +image("parallax/Cloud.png", "parallax__cloud-buddha")                          
  .parallax__layer-budda.parallax__layer_white-budda
    +image("parallax/White.png", "parallax__white-buddha")
  include ./reviews                  
  include ./relations                  
