footer.footer
  .container.footer__container
    .footer__user
      .footer__date © 2019
      .footer__username-desc
        .footer__username 
          |Евгений
          br 
          |Струневский
        .footer__username-text 
          |Личный сайт 
          br
          |веб разработчика
    .footer__desc
      .footer__menu
        +nav("nav", [{link: '#hero', title: 'Главная'}, {link: '#about', title: 'Обо мне'}, {link: '#value', title: 'Навыки'}, {link: '#works', title: 'Работы'}, {link: '#reviews', title: 'Отзывы'}, {link: '#relations', title: 'Связаться'}])

      .footer__desccontent
        .footer__desccontent-left
          .footer__desccontent-text
            |Этот сайт я сделал в рамках обучения 
            br
            |в Школе онлайн образования
          .social.social_footer 
            .social__links
              - var icons = ["insta", "vk", "github"]
              ul.socials
                each item in icons
                  li.socials__item.socials__item_footer
                    a.socials__link.socials__link_footer
                      +icon(item, "socials__icon_gray")
        .footer__desccontent-right
          .footer__desccontent-quote
            |Всегда пишите код так, будто сопровождать его будет 
            br
            |склонный к насилию психопат, который знает где вы живете
          .footer__descontent-author
            |Martin Golding