.parallax
  .parallax__layer.parallax__layer_sky
    +image("parallax/Sky.png", "parallax__sky")          
  .parallax__layer.parallax__layer_mountain1
    +image("parallax/Mountain1.png", "parallax__mountain1")          
  .parallax__layer.parallax__layer_baloon
    +image("parallax/Baloon.png", "parallax__baloon")          
  .parallax__layer.parallax__layer_cloud
    +image("parallax/Cloud.png", "parallax__cloud")          
  .parallax__layer.parallax__layer_man
    +image("parallax/Man.png", "parallax__man")          
  .parallax__layer.parallax__layer_mountain2
    +image("parallax/Mountain2.png", "parallax__mountain2")          
  .parallax__layer.parallax__layer_white
    +image("parallax/White.png", "parallax__white")
  include ./hero          
  include ./about          
  
