.reviews__slider
  ul.reviews__slider-list
    li.reviews__slider-item
      .reviews__slider-item-desc
        .reviews__slider-icon
          +icon('quote', 'reviews-quote')
        .reviews__block
          .reviews__text
            |Этот парень проходил обучение
            br 
            |веб-разработке не где-то, а в LoftSchool! 
            br 
            |4,5 месяца только самых тяжелых 
            br 
            |испытаний и бессонных ночей!
          .reviews__username-block
            .reviews__username
              .avatar
                +image('content/kov.jpg', "avatar-image")
            .reviews__username-desc
              .reviews__username-title Дмитрий Ковальчук
              .reviews__username-position основатель Loftschool
      .reviews__slider-item-desc
        .reviews__slider-icon
          +icon('quote', 'reviews-quote')
        .reviews__block
          .reviews__text
            |Этот парень проходил обучение
            br 
            |веб-разработке не где-то, а в LoftSchool! 
            br 
            |4,5 месяца только самых тяжелых 
            br 
            |испытаний и бессонных ночей!
          .reviews__username-block
            .reviews__username
              .avatar
                +image('content/sub.jpg', "avatar-image")
            .reviews__username-desc
              .reviews__username-title Владимир Сабанцев
              .reviews__username-position преподаватель