section.reviews
  .container.reviews__container
    .reviews__desc
      .reviews__header
        h2.title.title_reviews Что обо мне говорят
        .reviews__btns
          .reviews__btn
            a.reviews__btn-link
              +icon('arrow-down', 'reviews__btn-icon-left')
          .reviews__btn
            a.reviews__btn-link
              +icon('arrow-down', 'reviews__btn-icon-right')
      include ./reviews__slider