section.value
    .triangles
      svg.triangle__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0,0 0,100 1000,100")
      svg.triangle__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="1000,0 1000,100 0,100")

    .container.value__container  
      .values__content
        .values__desc
          h2.title.title_value Чем я могу быть полезен вам
          .values__desc-subtext
            |Этот сайт я сделал в рамках обучения в Школе онлайн образования  
            |LoftSchool. Чуть позже я освежу в нём свой контент. 
            |А пока посмотрите, как тут всё классно и красиво!
        include ./skills  