section.works
  .container.works__container
    .works__content
      h2.title Мои работы
      include ./slider
  .triangles.triangles_budda
    svg.triangle__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
      polygon(points="0,0 1000,0 1000,100")
    svg.triangle__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
      polygon(points="0,0 0,100 1000,0")