script(type="text/x-template")#skills
  ul.skills-graphic
    li.skills-graphic__title Frontend
      ul.skills__row
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title html
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title css
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title javaScript
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title jquery и vue.js
    li.skills-graphic__title Workflow
      ul.skills__row
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title Git
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title Terminal
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title Gulp
        li.skills__item
          .skill
              svg(viewBox="0 0 200 200").skill__svg-shape
                  circle(cx="100" cy="100" r="80").skill__svg-circle--position-under
                  circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skill__svg-circle--position-above
              .skill__title Webpack

          // Градиент
          svg(style="width:0; height:0; position: absolute;" aria-hidden="true")
              linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                  stop(offset="0%" stop-color='#4a00ed')
                  stop(offset="100%" stop-color='#9300e8')